
/*agents*/

@keyframes agent0 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, 20%) }
  40% { transform:translate(-5%, 80%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(-42%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@keyframes agent1 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(5%, 80%) }
  30% { transform:translate(7%, -65%) }
  40% { transform:translate(-5%, -25%) }
  50% { transform:translate(-25%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(60%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(10%, -40%) }
}

@keyframes agent2 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, 40%) }
  20% { transform:translate(15%, 5%) }
  30% { transform:translate(47%, -25%) }
  40% { transform:translate(-5%, 25%) }
  70% { transform:translate(0%, 75%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-20%, 10%) }
}

@keyframes agent3 {
  0%, 100% { transform:translate(0, 0) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 20%) }
  60% { transform:translate(15%, 30%) }
  70% { transform:translate(-10%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@keyframes agent4 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

@keyframes agent5 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(5%, 80%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, -15%) }
  50% { transform:translate(-15%, 10%) }
  70% { transform:translate(0%, 65%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


.faculty {
  position: absolute;
  width: 0; 
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid pink;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.student {
  position: absolute;
  width: 0; 
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid yellow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}