
/*main page elements*/

#map{
  position: fixed;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  height: 600px;
  background-color: blue;
    top: 90px;
}

#topbar{
  top: 20px;
  width: 1150px;
  height: 60px;
  background-color: yellow;
  left: 50%;
  margin-left: -575px;
    position: fixed;
}

#footer{
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#menubar{
  width: 1150px;
  height: 70px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#medialab{
  position: fixed;
  z-index: 10;
  width:100px;
  height: 100px;
}

#container{
  width:100%;
}

/*alerts*/

.modal{
  position: relative;
  display: none; 
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 400px;
    height: 300px;
    top:200px;
    overflow: auto;
    background-color: green;
}

.modalbutton{
  width: 50px;
  height: 20px;
  float: right;
}

.modalcontent{
  color: red;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*menu items*/

.menubutton{
  width: 50px;
  height: 50px;
  margin: auto;
  outline: 0px;
  background-color: grey;
  text-align: center;
}

/*typeface*/
body { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
h1 { font-family: Nunito; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; } 
h3 { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 15px; } 
p { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Nunito; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Nunito; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; }

