
/*broad page elements*/

#map{
  position: fixed;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  height: 600px;
  background-color: blue;
  top: 120px;
}

#topbar{
  top: 20px;
  width: 1150px;
  height: 60px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#footer{
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#menubar{
  width: 1150px;
  height: 70px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#container{
  width:100%;
}


/*buildings*/
.container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "medialab architecture sloan sloan"
  "CSAIL architecture broad mcgovern"
  "studentcenter architecture physics physics";
  grid-template-columns: 154px 273px 390px 1fr;
  grid-template-rows: 202px 319px 80px;
}

.container2 {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  z-index: 100;
  grid-template-areas: "medialab architecture sloan sloan"
  "CSAIL architecture broad mcgovern"
  "studentcenter architecture physics physics";
  grid-template-columns: 154px 273px 390px 1fr;
  grid-template-rows: 202px 319px 80px;
}


.building {
  background-color: green;
  padding: 10px;
  background-color: #69c647;
  margin: 10px;
  position: relative;
}

.buildingContainer {
/*  background-color: red;*/
  z-index: 10;
  padding: 10px;
  margin: 10px;
  position: relative;
}

#medialab {
  grid-area: medialab;
}
#architecture {
  grid-area: architecture;
}
#sloan {
  grid-area: sloan;
}
#CSAIL {
  grid-area: CSAIL;
}
#broad {
  grid-area: broad;
}
#mcgovern {
  grid-area: mcgovern;
}
#studentcenter {
  grid-area: studentcenter;
}
#physics {
  grid-area: physics;
}

.lab{
  width:50px;
  height: 50px;
  margin: 10px 0px 10px 0px;
  background-color: red;
}
.lab > p{
  padding: 15px;
}


/*alerts*/

.modal{
  position: relative;
  display: none; 
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 400px;
    height: 300px;
    top:200px;
    overflow: auto;
    background-color: green;
}

.modalbutton{
  width: 50px;
  height: 20px;
  float: right;
}

.modalcontent{
  color: red;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*script items*/

.nextButton {
  right: 20px;
  position: absolute;
  bottom: 20px;
}

.scriptText {
  margin: 10px;
}

/*menu items*/

.menubutton{
  width: 70px;
  height: 50px;
  margin: auto;
  outline: 0px;
  background-color: grey;
  text-align: center;
}

.menu{
  position: fixed;
  width: 300px;
  height: 300px;
  top:200px;
  left: 50%;
  margin-left: -150px;
  z-index: 20;
  overflow-y:scroll;
  background-color: white;
}

.menutitle {
  padding: 10px;
}

.menuelement{
  padding:10px;
  border: 2px solid;
  margin: 5px;
}

.menuelement:hover{
  background-color: yellow;
}

.menuelement:focus{
  background-color: red;
}

.closebutton{
  float: right; 
  margin: 15px;
  position: relative;
}

.boxpic{
  margin: 0px 90px 0px 50px;
  z-index:20;
}

.boxpic > img {
   height:130px;
  width:130px; 
}


/*stats*/


#statbar{
  top: 80px;
  width: 1150px;
  height: 40px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.statcontainer{
  margin: auto;
  z-index: 20;
  display: flex;
}

.statsbox{
  position: fixed;
  width: 500px;
  height: 400px;
  top:150px;
  left: 50%;
  margin-left: -250px;
  z-index: 20;
  overflow-y:scroll;
  background-color: white;
}

.column {
  float: left;
  width: 50%;
}

/*charts*/

#chartview {
  visibility: hidden;
}

.statcontainer:hover #chartview {
  visibility: visible;
  opacity: 1;
}

.chartcontainer {
  margin: 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid black;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
/*  bottom: 125%;*/
  left: 50%;
/*  margin-left: -60px;*/

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.progressbar {
  margin-top: 2px;
  width: 100px;
  height: 15px;
  margin-left: 10px;
  background-color: grey;
}

.progress {
  height: 15px;
  background-color: green;
}

/*typeface*/
body { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
h1 { font-family: Nunito; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; } 
h3 { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 15px; } 
b { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 800; line-height: 20px; } 
p { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Nunito; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Nunito; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; }

