
/*broad page elements*/

#map{
  position: fixed;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  height: 600px;
  background-color: blue;
    top: 90px;
}

#topbar{
  top: 20px;
  width: 1150px;
  height: 60px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#footer{
  position: fixed;
  bottom: 20px;
  width: 100%;
}

#menubar{
  width: 1150px;
  height: 70px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#container{
  width:100%;
}


/*buildings*/
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "medialab architecture sloan sloan"
  "CSAIL architecture broad mcgovern"
  "studentcenter architecture physics physics";
  grid-template-columns: 154px 273px 390px 1fr;
  grid-template-rows: 202px 319px 80px;
}

.container > div {
  background-color: green;
  z-index: 10;
  padding: 10px;
  background-color: #69c647;
  margin: 10px;
}

#medialab {
  grid-area: medialab;
}
#architecture {
  grid-area: architecture;
}
#sloan {
  grid-area: sloan;
}
#CSAIL {
  grid-area: CSAIL;
}
#broad {
  grid-area: broad;
}
#mcgovern {
  grid-area: mcgovern;
}
#studentcenter {
  grid-area: studentcenter;
}
#physics {
  grid-area: physics;
}

/*alerts*/

.modal{
  position: relative;
  display: none; 
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 400px;
    height: 300px;
    top:200px;
    overflow: auto;
    background-color: green;
}

.modalbutton{
  width: 50px;
  height: 20px;
  float: right;
}

.modalcontent{
  color: red;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*menu items*/

.menubutton{
  width: 70px;
  height: 50px;
  margin: auto;
  outline: 0px;
  background-color: grey;
  text-align: center;
}

.menu{
  position: fixed;
  width: 300px;
  height: 300px;
  top:200px;
  left: 50%;
  margin-left: -150px;
  z-index: 20;
  background-color: white;
}

/*stats*/

.statcontainer{
  margin: auto;
  z-index: 20;
}

/*typeface*/
body { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
h1 { font-family: Nunito; font-size: 24px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26px; } 
h3 { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; line-height: 15px; } 
p { font-family: Nunito; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: Nunito; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: Nunito; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; }

